/* Toastify CSS */
@import 'toastify-js/src/toastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold;
    }
}

[x-cloak] {
    display: none !important;
}